<ion-header>
  <ion-toolbar>
    <ion-title><strong>Planets</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail lines="inset" style="color: #250713" *ngFor="let planet of (planets | async)?.results"
    (click)="openDetails(planet)">
    {{ planet.name }}
  </ion-item>
  </ion-list></ion-content><br>
  <div class="login">
    <a href="https://www.starwars.com/search?q=planets" style="color: #250713"><em>To view more planets - <strong><u>click here</u></strong></em></a>      
  </div>





        


